body{
	width: 760px; /* how wide to make your web page */
	background-color: teal; /* what color to make the background */
	margin: 0 auto;
	padding: 0;
	font:12px/16px Verdana, sans-serif; /* default font */
}

div#main{
	background-color: #FFF;
	margin: 0;
	padding: 10px;
    text-align: center;
}


